langchain
langchain-core
langserve
openrouter
langchain_google_genai
google-generativeai
firebase-admin
python-dotenv
fastapi
uvicorn
langchain_community
pydantic
langchain-openrouter
google-genai
faiss-cpu
PyPDF2

duckduckgo-search
